@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-great-vives: "Great Vibes", cursive;
    --font-cookie: "Cookie", cursive;


    /* --------------COLORES------------------- */

    --color-nombre: #ffffff;
    --color-mis15: #ffffff;
    --color-titulos: #ffffff;
    --color-parrafo: #ffffff;
    --fondo-botonCTA: #a078b9;
    --color-botonCTA: #fff;
    --fondo-div: #a078b9;
    --arrow: #a078b9;
    --color-inputRadio-confirmacion: #a078b9;
    /* ------ colores pie de pagina ----------- */
    --color-footer: #a078b9;
    --color-info: #a078b9;
    --color-letra-web: #ffffff;


    --color-div: linear-gradient(45deg, #d7b2ee, #d28bff);
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    font-family: var(--font-poppins);
    font-size: .9rem;
    background-color: #e6e6e6;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.499), rgba(0, 0, 0, 0.597), rgba(0, 0, 0, 0.432));

}
body,
html {
    overflow-x: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-image: linear-gradient(#0059ff10, #ffffff3c), url(../assets/imagenes/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__name {
    font-family: var(--font-great-vives);
    font-size: 6rem;
    margin: 0;
    color: var(--color-nombre);
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.header__subtitle {
    margin: 0 auto 1em;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: var(--color-mis15);
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}


/* ---------------TEMPORIZADOR--------------------------- */


.header__temporizador {
    /* padding: .7em .5em .5em .5em; */
    border-radius: 1em;
    margin: 0 auto;
    text-align: center;
    background-color: #632d9c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    width: 250px
}

.contador__titulo {
    margin-bottom: 10px;
}

.contador__tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.contador__tiempo>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;

}

.span__numero {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 400;
    margin: 0;
    color: rgb(255, 255, 255);
}

.span__text {
    color: rgb(255, 255, 255);
    font-size: .7rem;
}


.header__wave {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 100%;
    min-width: 800px;
}



/* -------------------------MUSICA----------------------------- */


.musica__button {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #6c398b;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 5px 15px rgba(169, 30, 229, 0.5);
    overflow: hidden;
    z-index: 1000000;
}

.musica__button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 50% 40%, rgba(255, 255, 255, 0.3), transparent 60%);
    border-radius: 50%;
    z-index: 1;
}

.musica__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px #ab75cd;
}

.musica__button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 10px rgba(176, 30, 229, 0.5);
}

.musica__icon {
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 2;
}

.musica__icon--play {
    transform: translateX(0);
    /* Eliminamos el desplazamiento lateral */
    font-size: 28px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    /* Ajuste visual para centrar el triángulo */
}

.musica__icon--pause {
    opacity: 0;
    transform: translateX(2px);
    font-size: 26px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.musica__button--playing .musica__icon--play {
    opacity: 0;
    transform: translateX(-20px) scale(0.5);
}

.musica__button--playing .musica__icon--pause {
    opacity: 1;
    transform: translateX(0);
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 5px 15px rgba(159, 30, 229, 0.5),
            0 0 0 0 rgba(149, 30, 229, 0.7);
    }

    50% {
        box-shadow: 0 5px 15px rgba(129, 30, 229, 0.7),
            0 0 0 15px rgba(136, 30, 229, 0);
    }

    100% {
        box-shadow: 0 5px 15px rgba(146, 30, 229, 0.5),
            0 0 0 0 rgba(30, 136, 229, 0);
    }
}

/* Transiciones mejoradas */
@keyframes playToPause {
    0% {
        transform: scale(1);
        border-radius: 50%;
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pauseToPlay {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.musica__button--playing {
    animation: playToPause 0.6s ease-in-out;
    background: #ab75cd;
}

.musica {
    position: relative;
    display: inline-block;
}

.musica__button--playing {
    animation: shadowPulse 2s infinite;
}


.musica__button--playing::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border: 2px solid rgba(149, 33, 243, 0.3);
    z-index: -1;
    animation: rippleWave 2s infinite ease-out;
}

@keyframes rippleWave {
    0% {
        transform: scale(0.92);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

/* --------------ARROW----------------- */

.arrow-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--arrow);
    filter: drop-shadow(0 0 10px #ffffff);
    animation: bounce 2s infinite;
}

.arrow:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -7px;
    width: 15px;
    height: 30px;
    background-color: var(--arrow);
    border-radius: 10px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(15px);
    }
}


/* ------------------MAIN------------------------ */



/* ------------------FRASE------------------------ */


.frase {
    background: var(--color-div);
    text-align: center;
    padding: 2.5em 0;

}

.frase_paragraph {
    font-family: var(--font-cookie);
    font-weight: 400;
    font-size: 1.7rem;
    width: clamp(100px, 90%, 450px);
    margin: 0 auto;
    color: var(--color-parrafo);
}



/* ------------------DONDE------------------------ */

.donde {
    display: flex;
    flex-wrap: wrap;
    width: clamp(100px, 90%, 850px);
    justify-content: center;
    margin: 5em auto;
    text-align: center;
    gap: 3em;
}
.donde__content{
    flex-basis: 340px;
    max-width: 700px;
    flex-grow: 1;
}

.donde__icon {
    width: 30px;
}

.donde__img {
    display: flex;
    width: clamp(100px, 85%, 350px);
    margin: 2em auto 0;
    border-radius: 1em;
}

.donde__texts {
    padding: 0 1.5em;
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.donde__name {
    font-family: var(--font-great-vives);
    font-size: 2rem;
    margin: 1em auto 0;
    color: var(--color-titulos);
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.donde__direccion {
    margin: 1em auto 0;
    color: var(--color-parrafo);
    font-weight: 400;
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.donde__hora {
    font-family: var(--font-cookie);
    font-size: 2rem;
    margin: .5em auto;
    color: var(--color-titulos);
    text-shadow: 0 0 10px #632d9c, 0 0 15px #632d9c;
}

.boton__cta {
    background-color: var(--fondo-botonCTA);
    color: var(--color-botonCTA);
    padding: .7em 5em;
    border-radius: 1em;
}


/* /////////////////// AGRADECIMIENTO //////////////////// */


.agradecimiento {
    text-align: center;
}

.agradecimiento__contenedor {
    padding: 1em 0;
}

.parrafo--agradecimiento {
    padding: 1em 5em;
    line-height: 1.5;
    font-weight: 500;
    color: var(--color-parrafo);
    text-align: center;
    font-size: 1rem;
}

.agradecimiento__title {
    text-align: center;
    font-weight: 900;
    font-family: var(--font-cookie);
    font-size: 2.2rem;
    color: var(--color-titulos);
    font-weight: 100;
    margin: 1em auto 0;
}

.agradecimiento__fotos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    width: clamp(100px, 90%, 500px);
}

.agradecimiento__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.agradecimiento__img {
    width: clamp(50px, 100%, 170px);
    border-radius: 50%;
}

.agradecimiento__name {
    margin: 0 0 0 0;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-parrafo);
}



/* ----------------- PLAYLIST ---------------------- */


.playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
}

.playlist__icon {
    width: 35px;
}

.playlist__title {
    font-family: var(--font-cookie);
    font-size: 1.9rem;
    font-weight: 100;
    margin: 1em auto 0;
    color: var(--color-titulos);
}

.playlist__paragraph {
    text-align: center;
    font-size: .9rem;
    padding: 0 1.5em;
    color: var(--color-parrafo);

}

.playlist__inputs {
    display: grid;
    place-items: center;
    grid-auto-flow: dense;
    width: clamp(100px, 90%, 500px);
    margin: 0 auto;
    gap: 1em;
}

.playlist__input::placeholder {
    color: rgb(79, 79, 79);
    font-size: .8em;
    padding: 2em;
}

.playlist__input {
    width: 100%;
    padding: .7em 0 .7em 1em;
    border-radius: .7em;
    border: none;
    border: 1px solid var(--fondo-botonCTA);
}

.playlist__input:focus {
    outline: none;
    border: 3px solid var(--fondo-botonCTA);
}


/* ----------------DRESSCODE-------------------- */


.dresscode {
    text-align: center;
}

.dresscode__img {
    width: 90px;
}

.dresscode__title {
    font-family: var(--font-cookie);
    font-size: 2rem;
    font-weight: 100;
    margin: 1em auto;
    color: var(--color-titulos);
}

.dresscode__subtitle {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-titulos);
}

.dresscode__aviso {
    display: flex;
    justify-content: center;
    width: clamp(100px, 40%, 300px);
    margin: 2.5em auto;
    padding: .5em 3em;
    border-radius: .5em;
    background-color: var(--fondo-botonCTA);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}


/* ----------lightbox----------- */

.dresscode__ejemplo {
    padding: 1em 7em;
    background-color: #ab75cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100000000;/
}

.lightbox.active {
    display: flex;
}

.lightbox__imagen {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}

.lightbox__cerrar {
    position: absolute;
    top: 10%;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    z-index: 1001;
}

/* -------------regalos-------------------- */

.regalos {
    position: relative;
    background-color: var(--fondo-div);
    margin: 5em auto;
    padding: 7em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.regalos__icon {
    width: 60px;
}

.regalos__title {
    font-family: var(--font-great-vives);
    font-size: 2.5rem;
    color: #fff;
    font-weight: 100;
    margin: 1em auto 0;
    text-shadow: 0 0 10px var(--color-titulos);
}

.regalos__parrafo {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding: 0 1.5em;
    line-height: 1.4;
    text-shadow: 0 0 10px var(--color-titulos);
}

.regalos__button {
    display: flex;
    cursor: pointer;
    border: none;
    padding: .5em 2em;
    border-radius: .7em;
    color: #6a1a82;
    margin-top: 1em;
}


.datos {
    overflow: hidden;
    /* Importante para la transición vertical */
    max-height: 0;
    /* Inicialmente oculto */
    transition: max-height 500ms ease;
    /* Transición suave */
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9a5;
    opacity: 0;
    width: clamp(100px, 90%, 400px);
    display: grid;
    place-items: center;
}

.line {
    height: 1px;
    width: 80%;
    margin: 1em auto;
    background-color: var(--fondo-botonCTA);
}

.datos.mostrar {
    max-height: 500px;
    padding: 1em 0s;
    opacity: 1;
}

.datos__title {
    margin: 0 auto .5em;
    color: var(--color-titulos);
    font-size: 1rem;
    font-weight: 600;
}

.datos__cbu,
.datos__alias {
    height: 1em;
    margin: 0 auto 1em;
    color: var(--color-titulos);
    font-size: 1rem;
    font-weight: 600;
}

.datos__copiar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .5em 2em;
    cursor: pointer;
    background-color: var(--arrow);
    color: #fff;
    margin-bottom: 1em;
    border: none;
    border-radius: .5em;
}

.copiar__icon {
    width: 15px;
}

.mensaje-copiado {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1em;
    z-index: 1000;
    align-items: center;
    gap: 10px;
}

.mensaje-copiado.mostrar {
    display: flex;
}

.mensaje-copiado i {
    font-size: 1.5em;
}

.regalos__wave1 {
    position: absolute;
    transform: rotate(180deg);
    top: -1px;
}

.regalos__wave2 {
    position: absolute;
    bottom: -1px;
}





/* ///////////////// CONFIRMACION ///////////////////////// */



.confirmacion {
    text-align: center;
    background-color: var(--fondo-div);
    margin-top: 4em;
}

.parrafo--confirmacion {
    padding: 0 2em;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 0 0 5px var(--color-parrafo), 0 0 5px var(--color-parrafo);
}


.confirmacion__container {
    text-align: center;
    padding: 1em 0 2em 0;
    width: clamp(100px, 90%, 500px);
    margin: 0 auto;

}

.asistencia__radios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: clamp(100px, 90%, 400px);
    margin: 0 auto;
}

.asistencia__radio {
    background-color: var(--color-inputRadio-confirmacion);
    flex-basis: 120px;
    max-width: 200px;
    flex-grow: 1;
    padding: 1em 0;
    border-radius: 1em;
    color: #fff;
}

.asistencia__label {
    color: var(--color-parrafo);
    font-size: 1rem;
    margin-bottom: .5em;
}

.asistencia__label2 {
    margin-top: 1em;
}

.asistencia__datos {
    display: grid;
    width: 95%;
    margin: 0 auto;
}

.input__text {
    border-radius: .5em;
    border: none;
    border-radius: .5em;
    outline: none;
    /* Quita el borde por defecto al estar seleccionado */
    border: 2px solid transparent;
    /* Establece un borde inicial */
    padding: .7em 0 .7em 1em;
    transition: border-color 0.3s ease;
    /* Transición suave del color del borde */
}

.input__text:focus {
    border-color: var(--color-bordes-temporizador);
    /* Nuevo color de borde al estar seleccionado */
    background-color: #e9e9e9;
}

.alimenticio__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.alimenticio__title {
    margin: 1em auto;
}

.contenedor__alimenticio {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 100px;
    max-width: 140px;
    flex-grow: 1;
    height: 2em;


    border-radius: .5em;
    padding: .5em;
    gap: .2em;
    background-color: var(--color-inputRadio-confirmacion);
    color: #fff;
    font-size: 1rem;
}



.input__text2 {
    height: 100px;
}


/* Crear el círculo más grande */
input[type="radio"] {

    width: 18px;
    /* Ancho del círculo */
    height: 18px;
    /* Altura del círculo */

}

#botoncito2 {
    display: none;
}

.whatsapp__icon {
    width: 25px;
}

.boton__cta3 {
    background-color: var(--fondo-botonCTA);
    color: var(--color-botonCTA);
    padding: 1em 0;
    border-radius: 1em;
    width: clamp(100px, 90%, 380px);
    margin: 2em auto 0;


    animation: whatsapp 2000ms ease infinite;
}

@keyframes whatsapp {
    10% {
        transform: scale(1.05) rotate(5deg);
    }

    20% {
        transform: scale(1.05) rotate(-5deg);
    }

    30% {
        transform: scale(1.05) rotate(5deg);
    }

    40% {
        transform: none;
    }
}

/* /////////////////// ALBUM DE FOTOS ////////////////////////// */

.album{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    text-align: center;
    margin: 0 auto;

}
.title--album {
    margin: 0 0 1em 0;
    text-align: center;
     color: var(--color-parrafo);
     font-family: var(--font-great-vives);
    font-size: 2.2rem;
    font-weight: 700
}


.album__container {
    padding: 1em;
}

.album__img {
    display: flex;
    width: clamp(100px, 45%, 150px);
    margin: 0 auto 2em;
}

.parrafo--album {
    padding: 0 1em;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    margin: 1em auto;
     color: var(--color-parrafo);
}


.album__insta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    gap: .5em;
    width: clamp(100px, 90%, 350px);
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
}

.album__icon {
    width: 30px;
}

 .boton__cta4 {
  
    background-color: #ab62c5;
    color: #fff;
    padding: .5em 2em;
    border-radius: 1.5em;
    margin: 0 auto 2em;
} 
.parrafo2{
    margin-top: 2em;
    font-weight: 500;
    color: var(--color-parrafo);
}
.parrafo__hashtag {
    display: flex;
    justify-content: center;
    width: clamp(100px, 60%, 300px);

    font-weight: bold;
    font-size: 1.3rem;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #fff;
    margin: .3em auto;
    padding: .5em 0;

}



/* --------------FRASEFINAL--------------------- */

.fraseFinal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7em auto;
}
.comillas{
    display: flex;
    width: clamp(100px, 90%, 750px);
    margin: 0 auto;
}
.comillas2{
    display: flex;
    justify-content: flex-end;
    width: clamp(100px, 90%, 750px);
    margin: 0 auto;
}
.fraseFinal__img2{
    display: flex;
    transform: rotate(180deg);
}
.fraseFinal__text{
    width: clamp(100px, 90%, 700px);
    margin: 1.5em auto;
    text-align: center;  
    font-size: 1rem;
    color: var(--color-parrafo);  
    font-weight: 500;
    line-height: 1.5;
}
.fraseFinal__img{
    width: 70px;
}



/* ///////////////// INFO ///////////////////////// */

.footer{
    background-color: var(--color-footer);
    padding: .1px;
    text-align: center;
    margin-top: 5em;
}
.info__text{
    color: #fff;
    padding: 1em 1.5em;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
}
.info__link{
    font-size: 1rem;
    color: var(--color-info);
}